<% extend('layout'); %>

  <div class="d-flex justify-content-between my-3">
    <div class="d-flex">
      <img src="https://cdn-icons-png.flaticon.com/512/9187/9187604.png" class="rounded-pill profile-picture">
      <h5 class="ms-1">User</h5>
    </div>
    <div>
      <button class="btn btn-light btn-sm shadow-sm">
        <i class="bi bi-heart"></i>
      </button>
      <button class="btn btn-light btn-sm shadow-sm">
        <i class="bi bi-download"></i>
      </button>
    </div>
  </div>
  <figure class="container">
    <img src="https://picsum.photos/seed/picsum/1200/700" class="img-fluid w-100 h-100" style="object-fit: cover;">
    <figcaption class="mt-2">
      <p><a href="#">Entertainment</a>, <a href="#">Wildlife</a></p>
    </figcaption>
  </figure>
  <section>
    <h3>Related Pictures</h3>
  </section>