<% extend('layout'); %>

  <section id="single-picture-section" data-picture-id="<%= picture.id %>">
    <!-- Picture renders here -->
  </section>
  <section>
    <h3>Related Pictures</h3>
  </section>

  <script src="/scripts/singlePictureDisplay.js" type="module"></script>