<% extend('layout'); %>
  <h1 class="display-4">Gallery</h1>
  <div class="row g-0" id="gallery">
    <!-- Images get rendered here! -->
  </div>
  <div class="text-center">
    <div class="spinner-border" role="status"></div>
  </div>

  <script type="module" src="scripts/picturesDisplay.js"></script>