<% extend('layout'); %>
  <h1 class="display-4">Gallery</h1>
  <div class="col-sm-12">
    <div class="masonry masonry-columns-3 visually-hidden" id="masonry-container">
      <!-- Pictures get rendered -->
    </div>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    
  </div>

  <script src="scripts/infiniteScroll.js"></script>