img {
  width: 100%;
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 .2em;
}

.grid-col--2, .grid-col--3, .grid-col--4 {
  display: none;
}

.grid-item:hover {
   cursor: pointer;
}

.grid-item .content:hover {
  transform: scale(1.1);
  filter: brightness(75%);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

@media (min-width: 576px) {
  .grid-col--2 {
    display: block;
  }
}

@media (min-width: 768px) {
  .grid-col--3 {
    display: block;
  }
}

@media (min-width: 992px) {
  .grid-col--4 {
    display: block;
  }
}