img {
  width: 100%;
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 .2em;
}

.grid-col--2,
.grid-col--3,
.grid-col--4 {
  display: none;
}

.grid-item {
  position: relative;
  margin-bottom: .5rem;
}

.grid-item:hover {
  cursor: pointer;
}

.grid-item figcaption {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
  margin-bottom: 2rem;
}

.profile-picture {
  background-color: #fff;
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .grid-col--2 {
    display: block;
  }

  .grid-item:hover {
    filter: brightness(90%);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
  }

  .grid-item figcaption {
    display: none;
    margin-bottom: 0;
  }

  .grid-item:hover figcaption {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    color: #fff
  }
}

@media (min-width: 992px) {
  .grid-col--3 {
    display: block;
  }
}