main {
  min-height: 100vh;
}

.register-banner {
  background-image: url('/images/camera-banner.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 100%;
}

.profile-picture {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
}